<table class="table table-striped"> 
  <thead>
    <tr>  
      <th>Nome</th>  
      <th>Especialidade</th>  
      <th colspan="3" style="text-align:center;">Ações</th> 
    </tr>
  </thead> 
  <tbody>
    <% medicos.each do |medico| %>
    <tr> 
      <td><%= medico.nome %></td> 
      <td><%= medico.especialidade %></td> 
      <td><%= link_to 'Visualizar', medico %></td>
      <td><%= link_to 'Favoritar', "#" %></td> 
      <td><%= link_to 'Marcar consulta', "#" %></td> 
    </tr> 
    <% end %>
  </tbody>
</table>  